.team-display {
    display: flex;
    gap: 20px;
}

.team-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.center-column {
    justify-content: center;
    /* Center the single player vertically */
}

.team-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.team-slot:hover {
    transform: scale(1.1);
}

.team-display.active .team-slot {
    animation: pulse 1s 5s;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}